/* Variables setup */
:root {
    --light-mode: white;
    --dark-mode: #050C17;
    --light-mode-text: #050C17;
    --dark-mode-text: white;
    --alternate-color: #f8bc17;
    --button-color: #994FF5;
    --button-color-dark: #8131e3;
    --border-gray: #b4b8c627;
    --resonsive-font-size: max(1rem, 1.3vw);
}

/* General Styling */
html {
    scroll-padding-top: 6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--resonsive-font-size);
    color: #969DB7;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--light-mode);
    scroll-behavior: smooth;
}

.title {
    color: var(--light-mode-text);
    background-color: var(--button-color);
    padding: .7rem 1rem;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: max(2vw, 1.5rem);
    width: fit-content;
    display: inline-block;
}

/* Header Section*/
header {
    max-height: 5rem;
    overflow: hidden;
    display: flex;
    border-bottom: 2px solid var(--border-gray);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    background: #050C17;
    color: white;
    position: sticky;
    width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 10;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

header h1 {
    font-size: 2rem;
    color: var(--dark-mode-text);
}

.logo > img {
    height: 3rem;
    width: 3rem;
    margin-right: 10px;
}

nav {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

nav .fa-bars {display: none;}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

ul .flex-item {
    height: 2rem;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    color: #994FF5;
}

#contact-nav-btn {
    background-color: white;
    min-width: 7rem;
    width: 7rem;
    text-align: center;
}

#contact-nav-btn > a {
    color: black;
    text-align: center;
}

#contact-nav-btn:hover {
    background-color: rgb(220, 219, 219);
}

section:not(.hero), footer {
    text-align: center;
    width: 100%;
    padding: 5rem 0;
}

.theme-switch {
    position: fixed;
    right: 0;
    top: 7rem;
    background-color: #0EA5E9;
    padding: .6rem 1rem;
    color: var(--dark-mode-text);
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    box-shadow: 0 0 10px #27549ba5;
    transition: background-color .2s;
}

.theme-switch:hover {
    cursor: pointer;
    background-color: #0594d7;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.hero-portrait {
    width: 50%;
    background: radial-gradient(circle, var(--button-color), var(--alternate-color));
    /* position: relative; */
    z-index: 1;
    margin: auto;
    height: fit-content;
    overflow: hidden;
}

.hero-portrait > img {
    /* position: absolute;
    bottom: 0;
    left: 50%;*/
    transform: translateY(5px);
    height: 100%;
    max-width: 35rem;
}

.hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding: 3rem 4rem 0 2rem;
    justify-content: space-around;
}

.hero-content h3 {
    background-color: #FFF7DF;
    color: var(--alternate-color);
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.text-animate {
    width: 0; /* Start with no width */
    overflow: hidden; /* Hide the overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    border-right: .15em solid var(--alternate-color); /* cursor */
    animation: typing 3s steps(40, end) infinite; /* animation timing and steps */
    animation-direction: alternate-reverse;
    animation-timing-function: ease-out;
  }
  
  /* Typing Animation */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.hero-content > div > h2 {
    color: var(--light-mode-text);
    font-weight: bolder;
    font-size: 4vw;
    min-width: 18rem;
    text-align: left;
}

.hero p, #about p {
    line-height: 2rem;
    font-size: var(--resonsive-font-size);
}

#exp-brought {
    text-align: left;
    margin: 2rem 0;
}

.hero .btn {
    padding: .7rem;
    background: var(--button-color-dark);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    min-width: 11rem;
    font-weight: bold;
    text-align: center;
}

.fa-file-lines {
    color: var(--light-mode-text);
    margin-left: .5rem;
}

.fa-user {
    color: var(--dark-mode-text);
}

.hero-button-container .download:hover .fa-file-lines {
    color: var(--dark-mode-text);
}

.hero .btn:hover {
    background: var(--button-color);
}

.hero-button-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.hero-button-container .download {
    background-color: transparent;
    color: var(--light-mode-text);
    border: 1px solid var(--border-gray);
}

.hero-button-container .download:hover {
    background-color: var(--dark-mode);
    color: var(--dark-mode-text);
    border: 1px solid transparent;
}

.personal-summary {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-top: 1rem;
}

.personal-summary h4 {
    font-size: 1.5rem;
    color: var(--light-mode-text);
    margin: 0.7rem;
}

/* General Button Animation */
button:hover, .btn:hover {
animation-name: btn-animation;
animation-duration: .3s;
animation-fill-mode: forwards;
}


@keyframes btn-animation{
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(2px, -5px);
    }
}

/* AboutMe Section */

#about {
    background-color: var(--dark-mode);
}

.about-me-heading-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 60%;
    margin-bottom: 3rem;
}

.about-me-heading-container h2 {
    color: var(--dark-mode-text);
}
.about-me-heading-container p {
    font-weight: bolder;
}

.about-me-content-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    padding: 1rem 2rem;
    align-items: center;
}

.about-me-portrait, .about-me-portrait img {
    border-radius: 2rem;
    max-width: 40rem;
}

.about-me-portrait img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem var(--border-gray);
}

.about-me-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 50%;
    padding: .8rem 0;
    gap: 2rem;
}

.about-me-content h3 {
    font-weight: bold;
    font-size: min(2.4vw, 1.8rem);
    color: var(--dark-mode-text);
}

.about-me-sidebar {
    display: flex;
    justify-content: row;
    width: max(23rem, 70%);
    justify-content: flex-start;
    gap: 3rem;
    padding: 1rem;
    background-color: #0E151F;
    border: 2px solid var(--border-gray);
}

.about-me-sidebar p {
    margin-top: 5px;
}

.about-me-sidebar h4 {
    color: var(--dark-mode-text);
}

.about-me-sidebar .left-side, .about-me-sidebar .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

/* Resume Section */
#resume {
    padding-bottom: 0;
}
.resume-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 2rem;
    position: relative;
}

.resume-container-left-side, .resume-container-right-side {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.resume-container-left-side {
    border-right: 2px dashed rgb(189, 186, 186);
}

.resume-container-left-side > .experience{
    text-align: left;
    margin: 0 3rem 0 0;
}

.resume-container-right-side > .experience{
    text-align: left;
    margin: 0 0 0 3rem;
}

.experience {
    min-height: 15rem;
    min-width: 22rem;
    max-width: 30rem;
    padding: 1rem;
}
.experience:not(.empty){
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--dark-mode);
}
.ruler {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    position: absolute;
    top: 10rem;
}

.icon {
    background-image: url("../images/tick.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    color: var(--alternate-color);
}

.experience > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

.exp-year {
    color: var(--alternate-color);
}

.exp-position {
    color: var(--light-mode-text);
}

.skill-list {
    background-color: var(--border-gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
}

.skill-list > h3 {
    font-size: var(--resonsive-font-size);
    text-align: center;
    color: var(--light-mode-text);
}

.skill-list > p {
    max-width: 40rem;
    height: 5rem;
    padding: 1rem;
}

.all-skills-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
}

.skills {
    display: flex;
    width: 60%;
    min-width: 25rem;
    max-width: 33rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.individual-skill > img {
    height: 2.5rem;
}

.individual-skill {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    box-shadow: 0 0 1rem gray;
}

.individual-skill:hover {
    box-shadow: 0 0 1rem var(--alternate-color);
    transition: box-shadow 0.3s;
}

.cert-links-container ul {
    margin-top: 1rem;
    width: 35%;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.cert-links-container h3 {
    font-size: min(3vw, 1.5rem);
    border-bottom: 1px solid gray;
    color: var(--light-mode-text);
}

.cert-links-container li, .cert-links-container a {
    font-size: var(--resonsive-font-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem
}

.cert-links-container a {
    text-decoration: none;
    width: fit-content;
    margin-left: 1rem;
    color: var(--light-mode-text);
    padding: 4px;
    border-radius: 5px;
}
.cert-links-container a:hover {
    box-shadow: 0 0 5px var(--button-color);
    background-color: var(--alternate-color);
    transition: background-color 0.3s;
    transition: box-shadow 0.2s;
}

#coming-soon {
    min-width: 6rem;
    pointer-events: none;
}

.cert-links-container ul {
    list-style: none;
}

.cert-links-container img {
    width: 1.5rem;
}

/* Services Section */
#services {
    background: linear-gradient(90deg, #f8bc17a3, rgba(196, 193, 193, 0.811));
    margin-top: 0;
}
.services-container {
    width: 92%;
    padding: 4rem 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.service-item {
    max-width: max(26vw, 18rem);
    min-width: 15rem;
    height: 25rem;
    max-height: 30rem;
    border: 1px solid var(--light-mode-text);
    border-radius: 2rem;
    padding: 1rem;
    background-color: rgba(215, 142, 8, 0.583);
    transition: .3s;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.service-item * {
    transition: .3s;
}

.service-item p, .service-item a {
    color: #212121;
    text-decoration: none;
    margin-bottom: 1.5rem;
    font-size: max(1rem, 1.5vw);
}

.service-item a {
    border: 1px solid #8131e33f;
    padding: .5rem;
    border-radius: 1rem;
    transition: border .3s;
    transition: background-color .3s;
}

.service-item a:hover {
    background-color: rgba(205, 133, 0, 0.66);
}

.service-item:hover {
    background-color: var(--alternate-color);
}

.service-item:hover .service-item-design *:not(.fa-solid),
.service-item:hover .service-item-design,
.service-item:hover .price {
    color: white;
    background-color: #8131e3dc;
}

.service-item:hover .fa-solid {
    color: white;
}

.service-item-header {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}
.service-item-header p {
    margin-left: auto;
    padding: .2rem 1rem;
    border-radius: 1rem;
    color: var(--dark-mode-text);
    background-color: #8131e33f;
    border: 1px solid transparent;
    box-shadow: 0 0 1rem rgb(241, 160, 8);
}

.service-item-header h3 {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--light-mode-text);
    padding: 0;
}

.service-item-design {
    border: 1px solid #8131e33f;
    border-radius: 1rem;
    /* hover color #8131E3 */
    width: 12rem;
    height: 15rem;
    padding: 2rem;
    position: absolute;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(-45deg);
    text-align: center;
}

.service-item-design * {
    font-size: 5rem;
    color: #2121218d;
    transition: .3s;
}

.service-item-discover {
    width: fit-content;
}

/* Projects Section */
.project-toggle-button {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-toggle-button ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
}

.active-project-btn {
    background-color: rgb(211, 154, 0) !important;
    color: var(--dark-mode-text) !important;
}

.project-toggle-button button {
    padding: .7rem 1rem;
    width: max-content;
    color: var(--light-mode-text);
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    transition: color .3s;
    transition: background-color .3s;
}

.project-toggle-button button:hover {
    cursor: pointer;
    background-color: rgba(255, 216, 131, 0.782);
    color: rgb(154, 100, 0);
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 65rem;
    min-width: 30rem;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}

.project {
    width: 30rem;
    min-width: 25rem;
    height: 30rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(195, 195, 195, 0.259);
}

.project-img-container {
    height: 65%;
    border-top-right-radius: 1.9rem;
    border-top-left-radius: 1.9rem;
    width: 100%;
}

.project h3, .project p {
    text-align: left;
    margin: 1rem;
}

.project h3 {
    color: var(--alternate-color);
}

.project-img-container img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
}

/* Contact Me Section */
#contact {
    background-color: var(--dark-mode);
}

.contact-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
}

.contact-content {
    width: 60%;
    padding-top: 2rem;
    text-align: left;
}

.contact-content h2 {
    color: var(--dark-mode-text);
    font-size: calc(var(--resonsive-font-size) * 2.5);
    margin-bottom: 3rem;
}

.contact-content button {
    background-color: var(--button-color);
    color: var(--dark-mode-text);
    padding: .6rem 1.2rem;
    border: none;
    transition: background-color .3s;
}

.contact-content button:hover {
    background-color: var(--button-color-dark);
}

.contact-img img {
    height: 20rem;
    max-width: 70rem;
}

.contact-form {
    z-index: 2;
    height: fit-content;
    width: 35rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    border-radius: .4rem;
    padding: 2.5rem;
    background-color: var(--light-mode);
    text-align: left;
    display: none;
}

.contact-form form {
    display: flex;
    padding-top: 1.7rem;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
}

.contact-form form div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-form h3 {
    font-size: 1.6rem;
    color: var(--light-mode-text);
    margin-bottom: 1rem;
}

#contact-form-subject, #contact-form-textarea {
    width: 100%;
    border: 1px solid #c4c2c2;
    padding: .5rem;
    color: var(--light-mode-text);
    font-size: .8rem;
    font-weight: bold;
}

.contact-form input::placeholder {
    font-size: .7rem;
    font-weight: bold;
}

.contact-form input {
    height: 2rem;
    width: 45%;
    border: 1px solid rgb(196, 194, 194);
    padding: .5rem;
    color: var(--light-mode-text);
    font-size: .8rem;
    font-weight: bold;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: .2rem .4rem;
    background-color: #ede7f5;
    margin: .5rem;
}

.close-button:hover{cursor: pointer;}

.close-button p {
    font-size: .8rem;
    font-weight: bold;
    color: var(--button-color);
}

.contact-form button {
    padding: .6rem;
    background-color: var(--button-color);
    border: transparent;
    color: var(--dark-mode-text);
}

/* Footer Section */
footer {
    background-color: var(--dark-mode);
    padding-top: 1rem;
    padding-bottom: 0;
}

.footer-eclipse {
    width: 100%;
    background-color: var(--button-color);
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    padding-top: 5rem;
}

.footer-container {
    margin: auto;
    width: 90%;
}

.footer-item-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: 1px solid #9c999f;
    padding-bottom: 2rem;
}

.footer-icon .fa-solid {
    color: var(--alternate-color);
    font-size: calc(var(--resonsive-font-size) * 1.5);
    margin-bottom: 1.5rem;
}

.footer-item .bold {
    font-weight: bold;
    color: var(--dark-mode-text);
}

.footer-item p, .copyright {
    color: #e3dbeb;
}

.footer-item {
    text-align: left;
    width: 18rem;
    line-height: 1.5rem;
}

.footer-item-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.social-links {
    margin-left: auto;
}

.social-links a {
    margin-left: 1rem;
}

.social-links i {
    font-size: calc(var(--resonsive-font-size) * 1.5);
    color: var(--dark-mode);
    transition: .2s;
}

.social-links a:hover i {
    color: var(--alternate-color);
}